<div class="jumbotron jumbotron-fluid">
  <div class="container-dark">
    <h1 class="display-4"><h1>About The App...</h1></h1>
    <p class="lead btn btn-outline-success">
Welcome to our ozone level tracking app! Our goal is to provide you with up-to-date information about the ozone levels in your area so that you can make informed decisions about your outdoor activities. By simply typing in your zip code, you can access real-time data on the ozone levels in your region! Our app is designed to be user-friendly and intuitive, so that anyone can easily access and understand the information. Thank you for choosing our app to help you stay up-to-date on the ozone levels in your area. -Andrew Lombardi</p>
<br>


<div class="mx-auto" style="width: 200px;">
.    Ozone Level Chart   .
</div>
<p class="mx-auto">
 <div class="jumbotron btn btn-dark">
 <p class="@api_color = green text-dark">

 	Green-Good (0-50) Air quality is considered satisfactory, and air pollutioon poses little or no risk.
      <p class="@api_color = yellow text-dark">  
        Yellow- Moderate (51-100) Air quality is acceptable; however, for some pollutants there may be a moderate health concern for a very small number of people who are unusually sensitive to air pollution.
      <p class="@api_color = orange text-dark">   

    Orange-Unhealthy for Sensitive Groups (101-150) Although general public is not likely to be affected at this AQI range, people with lung disease, older adults and children are at a greater risk from exposure to ozone, whereas persons with heart and lunch disease, older adults and children are at greater risk from the presence of particles in the air.
      <p class="@api_color = red">  
   <br>
    Red-Unhealthy (151-200) Everyone may begin to experience health effects; members of sensitive groups may experience more serious health effects.
       <p class="@api_color = purple"> 
     <br>
    Purple-Very Unhealthy (201-300) Health alert: everyone may experience more serious health effects.
      <p class="@api_color = maroon">   
    <br>
    Maroon-Hazardous (301-500) Health warnings of warnings of emergency conditions. The entire population is more likely to be affected.</p>
  <hr class="my-4">
  <br/>
  
        
  </div>
</div>